{% load static %}

<div class="page">
<div id="page_top" class="section-body top_dark">
    <div class="container-fluid">
        <div class="page-header">
            <div class="left">
                <a href="javascript:void(0)" class="icon menu_toggle mr-3"><i class="fa fa-align-left"></i></a>
                <h1 class="page-title">{{ page_title|default:"" }}</h1>
            </div>
            <div class="right">
                <div class="input-icon xs-hide mr-4">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-icon-addon"><i class="fe fe-search"></i></span>
                </div>
                <div class="notification d-flex">
                    <div class="dropdown d-flex">
                        <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-language"></i></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{% static 'assets/images/flags/us.svg' %}">English</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{% static 'assets/images/flags/es.svg' %}">Spanish</a>
                            <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{% static 'assets/images/flags/jp.svg' %}">Japanese</a>
                            <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{% static 'assets/images/flags/bl.svg' %}">French</a>
                        </div>
                    </div>
                    <div class="dropdown d-flex">
                        <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge badge-success nav-unread"></span></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <ul class="right_chat list-unstyled w350 p-0">
                                <li class="online">
                                    <a href="javascript:void(0);" class="media">
                                        <img class="media-object" src="{% static 'assets/images/xs/avatar4.jpg' %}" alt="">
                                        <div class="media-body">
                                            <span class="name">Donald Gardner</span>
                                            <div class="message">It is a long established fact that a reader</div>
                                            <small>11 mins ago</small>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);" class="media">
                                        <img class="media-object" src="{% static 'assets/images/xs/avatar5.jpg' %}" alt="">
                                        <div class="media-body">
                                            <span class="name">Wendy Keen</span>
                                            <div class="message">There are many variations of passages of Lorem Ipsum</div>
                                            <small>18 mins ago</small>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);" class="media">
                                        <img class="media-object" src="{% static 'assets/images/xs/avatar2.jpg' %}" alt="">
                                        <div class="media-body">
                                            <span class="name">Matt Rosales</span>
                                            <div class="message">Contrary to popular belief, Lorem Ipsum is not simply</div>
                                            <small>27 mins ago</small>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);" class="media">
                                        <img class="media-object" src="{% static 'assets/images/xs/avatar3.jpg' %}" alt="">
                                        <div class="media-body">
                                            <span class="name">Phillip Smith</span>
                                            <div class="message">It has roots in a piece of classical Latin literature from 45 BC</div>
                                            <small>33 mins ago</small>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                        </div>
                    </div>
                    <div class="dropdown d-flex">
                        <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown" id="notificationDropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            {% if notification_count %}
                                <span class="badge badge-primary nav-unread small-badge">{{ notification_count }}</span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <ul class="list-unstyled feeds_widget">
                                {% for notification in notifications %}
                                    <li class="notification-item">
                                        <div class="notification-icon">
                                            <i class="fa {% if notification.demand %}fa-file-text{% else %}fa-trash{% endif %}"></i>
                                        </div>
                                        <div class="notification-body">
                                            {% if notification.demand %}
                                                <a href="{% url 'demande_detail' notification.demand.id %}" class="notification-title">
                                                    {{ notification.message }}
                                                </a>
                                            {% else %}
                                                <span class="notification-title">{{ notification.message }}</span>
                                            {% endif %}
                                            <small class="notification-time float-right text-muted">{{ notification.created_at|date:"H:i" }}</small>
                                            <small class="notification-date">{{ notification.created_at|date:"Y-m-d" }}</small>
                                        </div>
                                    </li>
                                {% empty %}
                                    <li class="notification-item">
                                        <div class="notification-body">
                                            <span class="notification-title text-muted">No new notifications</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if notifications %}
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'mark_notifications_read' %}" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="dropdown d-flex">
                        <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="{% url 'admin_profile' %}"><i class="dropdown-icon fe fe-user"></i> Profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-icon fe fe-log-out"></i> Sign out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>