{% load static %}
<!doctype html>
<html>
<head>
  <title>Reset Your Password</title>
  <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>
<body class="font-montserrat">
<div class="auth d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="auth_left" style="width: 600px; max-width: 90%;">
    <div class="card p-4">
      <h4 class="mb-3">🔐 Set a new password</h4>
      <form method="post">
        {% csrf_token %}
        {% include 'Authentication/auth_form_fields.html' %}
        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
